@import url(https://rsms.me/inter/inter.css);

html

/* move scrollbar out of page*/
    {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}



body {
    font-family: 'Inter', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;


    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.017em;

    color: #04535E;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

p {
    margin-top: 0;
}

.body-small {
    font-size: 18px;
}

strong {
    font-weight: 600;

}

h1 {
    font-family: "inter", Helvetica, sans-serif;
    -webkit-font-feature-settings: "ss01";
    font-feature-settings: "ss01";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.5;
    color: #04535E;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: "inter", Helvetica, sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #04535E;
    line-height: 1.5;
    margin: 0;
    padding: 0;


}

h3 {
    font-family: "inter", Helvetica, sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #528187;
    padding: 0;
    text-transform: uppercase;
    margin: 0 0 30px;
}

h4 {
    font-family: "inter", Helvetica, sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #04535E;
    padding: 0;

    margin-bottom: 15px;
}


blockquote {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    margin: 40px auto 40px auto;
}



cite {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    font-style: normal;
}





/*layouts*/

.layout {
    position: relative;
    z-index: 2;

    background-color: #F6F6F6;

    overflow: hidden;
    bottom: 0;


}


.background-home {
    margin: -30px -200px;
    position: absolute;


    width: 100%;
    max-width: 4000px;

    z-index: -2;
    pointer-events: none;
}


.background-about {
    margin: -300px -100px;
    position: absolute;



    width: 100%;
    max-width: 4000px;

    z-index: -2;
    pointer-events: none;

}



.manifesto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    gap: 45px;
    width: 85%;
    max-width: 902px;
    max-height: 491px;
    margin: auto;


    -webkit-box-flex: 0;


    -ms-flex: none;


    flex: none;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-bottom: 120px;
}

.manifesto__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px;

    width: 32vw;
    max-width: 438px;



    -webkit-box-flex: 0;



    -ms-flex: none;



    flex: none;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.manifesto__pic {
    width: 435px;
    height: 491px;

    border-radius: 5px;

    -webkit-box-flex: 0;

    -ms-flex: none;

    flex: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-positive: 0;
    flex-grow: 0;

}

.page {
    z-index: 2;

    padding: 80px 116px;
    margin: 0 auto 60px auto;
    width: 90%;
    max-width: 1134px;
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}



.page__content {

    max-width: 786px;

}






.page__content__item {
    margin-bottom: 20px;
}



/*Navigation*/

nav {
    position: absolute;
    left: 0;
    right: 0;

    margin: 5vh auto 1vh auto;
    width: 90%;
    max-width: 1134px;
    z-index: 5;
    text-align: right;
    background-color: transparent;
}

.nav__menu__panel {

    margin-top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.nav__item {
    margin-right: 1.4em;
}


/*Homepage*/
.homepage__hero-wrapper {
    height: 80vh;
    vertical-align: middle;
    position: relative;
    margin-top: 70px;
}

.homepage__hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 85%;
    max-width: 902px;
    max-height: 205px;
    margin: auto;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.homepage__hero-title {
    max-width: 902px;

    -webkit-box-flex: 0;

    -ms-flex: none;

    flex: none;

    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.homepage__hero-description {
    max-width: 670px;

    -webkit-box-flex: 0;

    -ms-flex: none;

    flex: none;

    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
    -ms-flex-positive: 0;
    flex-grow: 0;
}


/*About*/

.about__hero-wrapper {
    margin-top: 170px;
}



.page__content-about {
    margin: 30px 0 50px;
}

/*images*/

img {

    top: 0px;
    left: 0px;
    width: 100%;

    -o-object-fit: cover;

    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    opacity: 1;
    -webkit-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;

    border-radius: 5px;

}

.image-page {
    width: 85%;
    max-width: 786px;
    margin: 80px auto 80px auto;

}


.image-s {
    width: 60vw;
    max-width: 900px;
    margin: 0 auto 60px auto;
    border-radius: 5px;
}



.image-m {
    width: 75vw;
    max-width: 1140px;
    margin: 0 auto 60px auto;
    border-radius: 5px;
}

.image-l {
    width: 90vw;
    max-width: 1366px;
    margin: 0 auto 60px auto;
    border-radius: 5px;
}








/*lists*/

ul {
    padding: 0;
    list-style: none;
    text-indent: -27px;
    margin: 0 17px;
}

ul li:before {
    content: '\203A';
    margin: 0 10px 0;
}



/*cards*/
.homepage__card {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 786px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    border-bottom: 1px solid #04535E;
}


.testimonial {

    width: 900px;
    margin: 100px auto 100px auto;

}





.quote__container {
    width: 900px;
    height: 385px;
}

.client__container {
    width: 900px;
    height: 79px;
}


/*Contacts*/
.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;

    width: 100%;
    height: 323px;

    -webkit-box-flex: 0;

    -ms-flex: none;

    flex: none;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}


.contacts__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px;

    width: 35vw;
    max-width: 438px;
    height: 320px;

    -webkit-box-flex: 0;

    -ms-flex: none;

    flex: none;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;

    margin-bottom: 40px;

}

.contacts__text__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

}

.contacts__avatar {
    display: block;

    border-radius: 50%;

    width: 322px;
    height: 323px;

    -webkit-box-flex: 0;

    -ms-flex: none;

    flex: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-positive: 0;
    flex-grow: 0;

}



/*Links*/
a {
    font-family: "inter", Helvetica, sans-serif;
    font-weight: 400;
    color: #04535E;
    cursor: pointer;

    text-decoration: underline;
    text-underline-offset: 3px;
}

.int-link:hover {
    -webkit-text-decoration: double underline;
    text-decoration: double underline;


}

.int-link:after {
    display: inline-block;
    content: "\2192";
    text-decoration: none;

    margin-left: 13px;
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
}




.int-link:hover::after {
    margin-left: 20px;
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
}


a:hover {
    -webkit-text-decoration: double underline;
    text-decoration: double underline;

}

.down-link {
    padding: 0px;
    font-weight: 400;
}

.down-link:hover {
    -webkit-text-decoration: double underline;
    text-decoration: double underline;


}

.down-link:after {
    display: inline-block;
    content: "\2193";
    text-decoration: none;
    vertical-align: baseline;

    margin-left: 10px;

    -webkit-transition: translate 0.3s ease-in-out;
    -o-transition: translate 0.3s ease-in-out;
    transition: translate 0.3s ease-in-out;
}


.down-link:hover::after {

    translate: 0 4px;
    -webkit-transition: translate 0.3s ease-in-out;
    -o-transition: translate 0.3s ease-in-out;
    transition: translate 0.3s ease-in-out;
}


.ext-link {
    padding: 0px;
    font-weight: 400;
}

.ext-link:hover {
    -webkit-text-decoration: double underline;
    text-decoration: double underline;


}

.ext-link:after {
    display: inline-block;
    content: "\2197";
    text-decoration: none;
    vertical-align: baseline;

    margin-left: 10px;

    translate: 0 1px;
    -webkit-transition: translate 0.3s ease-in-out;
    -o-transition: translate 0.3s ease-in-out;
    transition: translate 0.3s ease-in-out;
}


.ext-link:hover::after {

    translate: 4px -2px;
    -webkit-transition: translate 0.3s ease-in-out;
    -o-transition: translate 0.3s ease-in-out;
    transition: translate 0.3s ease-in-out;
}




/*accordion*/

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0px;

    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.panel__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

    width: 902px;

    left: 0px;
    top: 552px;
}

.panel__list-content {
    width: 438px;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    font-family: "inter", Helvetica, sans-serif;
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #04535E;
    margin-bottom: 15px;

    border: none;
    outline: none;


    text-decoration: underline;
    text-underline-offset: 3px;


}

.accordion:hover {

    -webkit-text-decoration: double underline;
    text-decoration: double underline;
}

/* "plus" sign (+) after accordion */
.accordion:after {
    display: inline-block;
    content: '    \002B';
    color: #04535E;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: 50% 55%;
    -ms-transform-origin: 50% 55%;
    transform-origin: 50% 55%;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}


.accordion:hover::after {
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* "minus" sign (-) after accordion */
.active:after {
    display: inline-block;
    color: #04535E;
    content: "    \2212";
}




@media only screen and (max-width: 1280px) {

    .panel__list {
        display: block;
        width: auto;
    }

    .panel__list-content {
        width: auto;
    }

}


/*RESPONSIVE LARGE*/

@media only screen and (max-width: 1024px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 14px;
    }


    h4 {
        font-size: 22px;
    }

    .body-small {
        font-size: 14px;
    }

    blockquote {
        margin: 0px;
        font-size: 24px;
    }

    cite {
        font-size: 20px;
    }

    .background-home {
        margin: -30px -300px;
        position: absolute;

        width: 100%;
        max-width: 4000px;

        z-index: -2;
        pointer-events: none;
    }

    .background-about {
        margin: -200px -150px;
        position: absolute;

        width: 100%;
        max-width: 4000px;

        z-index: -2;
        pointer-events: none;
    }


    .image-s,
    .image-m,
    .image-l {
        width: 75vw;
        margin: 0 auto 40px auto;
    }



    .page {
        padding: 80px 7.5vw;
    }

    .testimonial {
        width: 75%;
        margin: 80px auto 80px auto;
    }

    .contacts__avatar {
        margin: 30px auto 30px;
        width: 250px;
        height: 250px;
    }

    .accordion {
        font-size: 16px;
    }

    .accordion:after {
        font-size: 20px;
    }

    .manifesto__pic {
        width: 40vw;
        height: auto;
    }

    .manifesto__text {
        width: 35vw;
    }



}


/*RESPONSIVE MEDIUM */

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 16px;
    }

    .body-small {
        font-size: 12px;
    }



    cite {
        font-size: 14px;
    }

    blockquote {
        margin: 0px;
        font-size: 18px;
    }

    .background-home {
        margin: -50px -400px;
        position: absolute;

        width: 100%;
        max-width: 4000px;

        z-index: -2;
        pointer-events: none;
    }

    .page {
        padding: 40px 5vw;
        margin: 0 auto 30px auto;
    }


    .image-s,
    .image-m,
    .image-l {
        width: 90%;
        margin: 0 auto 40px auto;
    }

    .manifesto {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-height: none;
    }

    .manifesto__text {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        max-width: none;
    }



    .manifesto__pic {
        width: 100%;
        height: 100%;
        -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
        order: -2;
    }



    .testimonial {
        margin: 40px auto 40px auto;
    }

    .accordion {
        font-size: 16px;
    }

    .accordion:after {
        font-size: 18px;
    }

    .contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        height: auto;
    }

    .contacts__text {
        height: auto;
        width: 100%;
        max-width: none;
        gap: 20px;
    }

    .image-page {
        width: auto;
    }
}


/*RESPONSIVE SMALL */



@media only screen and (max-width: 480px) {
    h4 {
        font-size: 18px;
    }

    .body-small {
        font-size: 14px;
    }

    .accordion {
        font-size: 16px;
    }

    .page {
        width: 93%;
    }

    .testimonial {
        width: 85%;
    }

    .about__hero-wrapper {
        margin-top: 140px;
    }
}




/*RESPONSIVE EXTRA SMALL*/


@media only screen and (max-width: 360px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 16px;
    }

    .body-small {
        font-size: 12px;
    }

    blockquote {
        font-size: 16px;
    }
}