@import url(https://rsms.me/inter/inter.css);

html

/* move scrollbar out of page*/
    {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}



body {
    font-family: 'Inter', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.017em;

    color: #04535E;
    margin: 0;
    padding: 0;
}

.body-small {
    font-size: 18px;
}

h1 {
    font-family: "inter", Helvetica, sans-serif;
    font-feature-settings: "ss01";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.1;
    color: #04535E;
    padding: 0;
    margin: 0 0 12px;
}

h2 {
    font-family: "inter", Helvetica, sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #04535E;

    margin-bottom: 30px;
    padding: 0;
    margin: 0;


}

h3 {
    font-family: "inter", Helvetica, sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #04535E;
    padding: 0;

    margin-bottom: 15px;
}

h4 {
    font-family: "inter", Helvetica, sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #04535E;
    padding: 0;
    margin: 0;

}

blockquote {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    margin: 40px auto 40px auto;
}


@media only screen and (max-width: 62rem) {
    blockquote {
        margin: 0px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 43rem) {
    blockquote {
        margin: 0px;
        font-size: 20px;
    }
}



cite {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    font-style: normal;
}

@media only screen and (max-width: 62rem) {
    cite {
        font-size: 20px;
    }
}

@media only screen and (max-width: 43rem) {
    cite {
        font-size: 14px;
    }
}

/* Responsive Typography*/
@media only screen and (max-width: 62rem) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 26px;
    }

    .body-small {
        font-size: 16px;
    }
}

@media only screen and (max-width: 43rem) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 24px;
    }

    .body-small {
        font-size: 12px;
    }
}

@media only screen and (max-width: 30rem) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 22px;
    }

    .body-small {
        font-size: 12px;
    }
}

/*layouts*/

.layout {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: #F6F6F6;
    scroll-behavior:smooth;


}

.background {
    position: absolute;

    width: 100%;
    max-width: 4000px;
    margin: -30px -200px;

    z-index: -2;
    pointer-events: none;
}

@media only screen and (max-width: 62rem) {
    .background {
        margin: -30px -300px;
    }
}

@media only screen and (max-width: 43rem) {
    .background {
        margin: -150px -300px;
    }
}


.page {
    z-index: 2;

    padding: 60px 7.5vw;
    margin: 0 auto 60px auto;
    width: 90%;
    max-width: 1134px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;

}

@media only screen and (max-width: 43rem) {
    .page {
        padding: 40px 5vw;
        margin: 0 auto 30px auto;
    }
}

.page__content {

    max-width: 786px;
    margin-bottom: 40px;

}



nav {

    height: 70px;
    margin: 2vh auto 1vh auto;
    width: 85%;
    max-width: 1134px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.nav__item {
    margin: 0 20px 0 20px;
    line-height: 2;
}

.page__content__item {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Homepage*/
.homepage__hero-wrapper {
    height: 80vh;
    vertical-align: middle;
    position: relative;
}

.homepage__hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 85%;
    max-width: 902px;
    max-height: 345px;
    margin: auto;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.homepage__hero-title {
    max-width: 902px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.homepage__hero-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    line-height: 18px;
    width: 66%;
    max-width: 671px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

@media only screen and (max-width: 43rem) {
    .homepage__hero-description {
        width: 100%;
        gap: 9%;
    }
}


.homepage__hero-description__titles {
    margin-bottom: 30px;
}

@media only screen and (max-width: 43rem) {
.homepage__hero-description__titles {
    margin-bottom: 20px;
}
}

.homepage__hero-description-1 {

    flex: none;
    order: 0;
    flex-grow: 0;
}




.homepage__hero-description-2 {

    flex: none;
    order: 1;
    flex-grow: 0;
}





/*images*/

img {

    top: 0px;
    left: 0px;
    width: 100%;

    object-fit: cover;
    object-position: center center;
    opacity: 1;
    transition-delay: 500ms;

}

.image-s {
    width: 60vw;
    max-width: 900px;
    margin: 0 auto 60px auto;
    border-radius: 5px;
}



.image-m {
    width: 75vw;
    max-width: 1140px;
    margin: 0 auto 60px auto;
    border-radius: 5px;
}

.image-l {
    width: 90vw;
    max-width: 1366px;
    margin: 0 auto 60px auto;
    border-radius: 5px;
}


@media only screen and (max-width: 62rem) {

    .image-s,
    .image-m,
    .image-l {
        width: 75vw;
        margin: 0 auto 40px auto;
    }
}


@media only screen and (max-width: 43rem) {

    .image-s,
    .image-m,
    .image-l {
        width: 90%;
        margin: 0 auto 40px auto;
    }
}


/*cards*/
.homepage__card {
    box-sizing: border-box;
    max-width: 786px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    border-bottom: 1px solid #04535E;
}


.testimonial {

    width: 900px;
    margin: 100px auto 100px auto;

}


@media only screen and (max-width: 62rem) {
    .testimonial {
        width: 90%;
        margin: 80px auto 80px auto;
    }
}

@media only screen and (max-width: 43rem) {
    .testimonial {
        margin: 40px auto 40px auto;
    }
}

.quote__container {
    width: 900px;
    height: 385px;
}

.client__container {
    width: 900px;
    height: 79px;
}




/*Contacts*/
.contacts__text {
    max-width: 786px;
    margin-bottom: 40px;

}

.contacts__avatar {
    display: block;
    margin: 0 auto 60px;
    width: 30vw;
    max-width: 300px;
    min-width: 200px;
    height: 30vw;
    max-height: 300px;
    min-height: 200px;
    border-radius: 50%;

}

@media only screen and (max-width: 62rem) {
    .contacts__avatar {
        margin: 30px auto 30px;
    }
}

/*Links*/
a {
    font-family: "inter", Helvetica, sans-serif;
    font-weight: 400;
    color: #04535E;
    cursor: pointer;

    -webkit-text-decoration: underline;
    text-underline-offset: 3px;
}

a:hover {
    -webkit-text-decoration: double underline;
    color: #000000;

}


.int-link:hover {
    -webkit-text-decoration: double underline;
    padding-bottom: 20px;

}

.int-link:after {
    display: inline-block;
    content: "\2192";
    text-decoration: none;

    margin-left: 10px;
    transition: margin-left 0.3s ease-in-out;
}




.int-link:hover::after {
    margin-left: 20px;
    transition: margin-left 0.3s ease-in-out;
}


.ext-link:after {
    display: inline-block;
    content: "\2197";
    font-size: 1em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}


/*accordion*/

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: white;
    cursor: pointer;
    text-align: left;
    font-family: "inter", Helvetica, sans-serif;
    padding: 0px;
    font-size: 20px;
    line-height: 35px;
    color: #04535E;
    margin-bottom: 15px;

    border: none;
    outline: none;


    text-decoration: underline;
    text-underline-offset: 3px;

}

.accordion:hover {
    color: #000000;
    -webkit-text-decoration: double underline;
}

/* "plus" sign (+) after accordion */
.accordion:after {
    display: inline-block;
    content: '    \002B';
    color: #04535E;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
    -webkit-transform: rotate(-180deg);
    transform-origin: 50% 55%;
    transition: -webkit-transform 0.4s ease-out;
    line-height: 25px;
}


.accordion:hover::after {
    display: inline-block;
    color: #000000;
    -webkit-transform: rotate(0deg);
    transition: -webkit-transform 0.4s ease-out;
}

/* "minus" sign (-) after accordion */
.active:after {
    display: inline-block;
    color: #04535E;
    content: "    \2212";
}



@media only screen and (max-width: 62rem) {
    .accordion {
        font-size: 18px;
    }

    .accordion:after {
        font-size: 20px;
    }
}


@media only screen and (max-width: 43rem) {
    .accordion {
        font-size: 16px;
    }

    .accordion:after {
        font-size: 18px;
    }
}

@media only screen and (max-width: 30rem) {

    .accordion {
        font-size: 14px;
    }

    .accordion:after {
        font-size: 16px;
    }
}